.footer {
  background-color: $bc-color;
}

.page-futer {
  font-family: "Roboto", sans-serif;
  @include fonts(14px, 400, 1.71, 0.03em);

  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: $white;

  & .contacts {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 1.71; correct but mentor discard*/
    line-height: 1.5;
    color: $transparent-white-light;
  }
}

.footer-left {
  padding-bottom: 60px;
  padding-top: 60px;
  margin-right: 70px;
}

.footer-right {
  padding-left: 93px;
}

.footer-icon {
  margin-left: 10px;
  fill: $white;
}

.page-futer .item-link + .item-link {
  margin-top: 9px;
}

.address {
  color: $white;
}

.item-link {
  @include fonts(14px, 400, 1.5, 0.03em);
  // font-weight: normal;
  // font-size: 14px;
  // line-height: 1.5;
  // letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.center-footer .title,
.footer-right .title {
  margin-top: 0;
  margin-bottom: 20px;

  @include fonts(14px, 500, 1.142, 0.03em);

  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.142;
  // letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white;
}

.social-list .social-link {
  @extend %flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: fill $time $timing-function,
    background-color $time $timing-function;
}
.social-list > .item + .item {
  margin-left: 10px;
}
