html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  @include fonts(14px, 400, 1.71, 0.03em);

  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-margin {
  margin-top: 0;
}
.text {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.item {
  display: block;
}

.flex-footer {
  display: flex;
  align-items: baseline;
}

.navigate,
.header-container,
.social-list,
.menu-item {
  @extend %flex;
}

.about,
.benefits,
.team,
.section-portfolio,
.clients {
  padding-top: 94px;
}
.section-portfolio,
.clients,
.about {
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}
